<img src="<%= image_path('POSTBOX.png') %>" alt="Your Image Description" width="100%" height="30%">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
<h3>Welcome <%= current_user.email %></h3>
<% end %>
<div>
  <ul>
    <li><%= link_to "Messages Dashboard", root_path, class: "nav-link" %></li>
    <li><%= link_to "Post Message", messages_path, class: "nav-link" %></li>
    <li><%= link_to "Friends", root_path, class: "nav-link" %></li> 
    <% if current_user %>
      <li><a href='#settings'>Submit a Ticket</a></li>
    <% end %>
    <li><%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "nav-link"%></li>
  </ul>
</div>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

li a, .nav-link {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover, .nav-link:hover {
  background-color: #555;
  color: white;
}

h3,p {
  text-align: center;
}
</style>
